---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Frontend Mentor | News homepage">
	<nav>
		<ol>
			<li>
				Home
			</li>
			<li>
				New
			</li>
			<li>
				Popular
			</li>
			<li>
				Trending
			</li>
			<li>
				Categories	
			</li>
		</ol>
	</nav>	
	<article>
		<section>
			<figure>
				<img class="md:hidden" src="/images/image-web-3-mobile.jpg" alt="">
				<img class="sm:hidden md:block" src="/images/image-web-3-desktop.jpg" alt="">
			</figure>
			<h1>
				The Bright Future of Web 3.0?
			</h1>
			<p>
				We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
				But is it really fulfilling its promise?
			</p>
			<button>
				Read more
			</button>
		</section>
		<section>
			<h2>
				New 
			</h2>
			<section>
				<h3>
					Hydrogen VS Electric Cars
				</h3>
				<p>
					Will hydrogen-fueled cars ever catch up to EVs?
				</p>
			</section>
			<section>
				<h3>
					The Downsides of AI Artistry
				</h3>
				<p>
					What are the possible adverse effects of on-demand AI image generation?
				</p>
			</section>
			<section>
				<h3>
					Is VC Funding Drying Up?
				</h3>
				<p>
					Private funding by VC firms is down 50% YOY. We take a look at what that means.
				</p>
			</section>
		</section>
		
		
		<section>
			<section>
				<figure>
					<img src="/images/image-retro-pcs.jpg" alt="">
				</figure>
				<section>
					<h2>
						01
					</h2>
					<h3>
						Reviving Retro PCs
					</h3>
					<p>
						What happens when old PCs are given modern upgrades?
					</p>
			</section>
		</section>
		<section>
			<figure>
				<img src="/images/image-top-laptops.jpg" alt="">
			</figure>
			<section>
				<h2>
					02
				</h2>
				<h3>
					Top 10 Laptops of 2022
				</h3>
				<p>
			Our best picks for various needs and budgets.
				</p>
			</section>
		</section>
		<section>
			<figure>
				<img src="/images/image-gaming-growth.jpg" alt="">
			</figure>
			<section>
				<h2>
					03
				</h2>
				<h3>
					The Growth of Gaming
				</h3>
				<p>
					How the pandemic has sparked fresh opportunities.
				</p>
			</section>	  
		</section>
	  </section>
	</article>
</Layout>
