---
interface Props {

}

const {} = Astro.props;
---

<section class="p-4 col-span-2">
    <figure class="">
        <img class="md:hidden" src="/images/image-web-3-mobile.jpg" alt="">
        <img class="hidden md:block" src="/images/image-web-3-desktop.jpg" alt="">
    </figure>
    <section class="lg:flex lg:gap-x-8">
        <h1 class="lg:w-6/12 text-gBlue-vDark font-extrabold text-5xl py-6">
            The Bright Future of Web 3.0?
        </h1>
        <section class="lg:w-6/12 lg:py-6">
            <p class="text-gBlue-dark text-[1.0625rem]">
                We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
                But is it really fulfilling its promise?
            </p>
            <button class="hover:bg-gBlue-vDark py-4 px-8 bg-sRed my-7 uppercase font-bold text-oWhite tracking-[.2rem]">
                Read more
            </button>
        </section>
    </section>
</section>