---

---

<nav class=" flex justify-between p-4 py-8 container mx-auto max-w-screen-xl items-center" >
    <figure class="w-12">
        <img src="/images/logo.svg" alt="logo news" class="w-full">
    </figure>
    <button class="lg:hidden" id="btnBurger">
        <img src="/images/icon-menu.svg"  alt="">
    </button>
    <section id="secciones" class=" flex fixed justify-end w-screen top-0 left-0 right-0 bottom-0 bg-gBlue-vDark bg-opacity-50 transition-transform ease-in-out translate-x-full delay-300 lg:translate-x-0 lg:bg-transparent lg:relative ">
        <ol class="transition-transform bg-oWhite w-60 p-6 text-gBlue-vDark text-2xl font-medium flex flex-col gap-y-9 lg:flex-row lg:w-fit lg:font-medium lg:text-gBlue-dark lg:gap-x-5 lg:text-base">
            <button id="btnClose" class="w-full flex justify-end pe-2 pb-12 lg:hidden">
            <img src="/images/icon-menu-close.svg" class="" alt="">
            </button>
            <li>
                <a href="#" class="hover:text-sRed">
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="hover:text-sRed">
                    New
                </a>
            </li>
            <li>
                <a href="#" class="hover:text-sRed">
                    Popular
                </a>
            </li>
            <li>
                <a href="#" class="hover:text-sRed">
                    Trending
                </a>
            </li>
            <li>
                <a href="#" class="hover:text-sRed">
                    Categories	
                </a>
            </li>
        </ol>
    </section>
</nav>	

<script>
    const btn = document.getElementById('btnBurger')
    const sec = document.getElementById('secciones')
    const btnClose= document.getElementById('btnClose')
    btn?.addEventListener('click',function(){
        sec?.classList.remove('translate-x-full');
    })
    btnClose?.addEventListener('click',function(){
        sec?.classList.add('translate-x-full');
    })
</script>