---
interface Props {

}

const {} = Astro.props;
---

<section class="m-4 p-6 bg-gBlue-vDark text-oWhite">
    <h2 class="text-sOrange text-4xl font-bold">
        New 
    </h2>
    <section>
        <h3>
            Hydrogen VS Electric Cars
        </h3>
        <p>
            Will hydrogen-fueled cars ever catch up to EVs?
        </p>
    </section>
    <section>
        <h3>
            The Downsides of AI Artistry
        </h3>
        <p>
            What are the possible adverse effects of on-demand AI image generation?
        </p>
    </section>
    <section>
        <h3>
            Is VC Funding Drying Up?
        </h3>
        <p>
            Private funding by VC firms is down 50% YOY. We take a look at what that means.
        </p>
    </section>
</section>